<mat-card>
  <mat-toolbar color="primary">Detalhes do Curso</mat-toolbar>
  <mat-card-content>
    <!-- Associar o formulário atráves da diretiva [formGrup]="nome_variável_form" do course-form.component.ts -->
    <form [formGroup]="form">
      <mat-form-field class="full-width">
        <!-- Associar campos name, através do formControlName="name" e
                    category com formControlName="category" do course-form.component.ts -->
        <input matInput placeholder="Nome" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="Front-end">Front-end</mat-option>
          <mat-option value="Back-end">Back-end</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <!-- Botoes de ações -->
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">
      Salvar
    </button>
    <button mat-raised-button (click)="onCancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
