table {
  width: 100%;
}

mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

.category-icon {
  margin: 0 0 -5px 10px;
}
.loading-spinner {
  //sobreamento da página
  background: rgba(0, 0, 0, 0.15);
  // centralização do spinner
  display: flex;
  align-items: center;
  justify-content: center;
  //espaçamento do spinner
  padding: 25px;
}
